<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EventBus[<%= APP_NAME %>] Admin</title>
  <meta name="author" content="baineng <baineng.ma@gmail.com>">
  <link rel="stylesheet" href="<%= URL_PREFIX %>/assets/bulma.min.css">
  <script defer src="<%= URL_PREFIX %>/assets/fontawesome.min.js"></script>
  <script src="<%= URL_PREFIX %>/assets/jsoneditor.min.js"></script>
  <script src="<%= URL_PREFIX %>/assets/jsoneditor.theme.js"></script>
  <script src="<%= URL_PREFIX %>/assets/leader-line.min.js"></script>
</head>
<body>
  <div id="app"></div>
  <script src="<%= URL_PREFIX %>/bundle.js"></script>
</body>
</html>
