[Unit]
Description=EventBus Service ({{ service_name }})

[Service]
Type=simple
WorkingDirectory={{ eventbus_home }}
ExecStart={{ eventbus_home }}/target/universal/stage/bin/event-bus "-Dconfig.file={{ eventbus_home }}/conf/{{ service_name }}.application.conf"
Restart=always
RestartSec=3
StartLimitIntervalSec=60
StartLimitBurst=5
User={{ daemon_user }}
PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target