<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook" />

	<property name="EB_LOGPREFIX"
			  value="${EB_LOGDIR:-./logs}/${EB_APPNAME:-event-bus}.${EB_ENV:-dev}.runner.${EB_RUNNERNAME:-default-runner}" />

	<appender name="DEFAULT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${EB_LOGPREFIX}.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${EB_LOGPREFIX}.%d{yyyy-MM-dd_HH}.gz</fileNamePattern>
			<maxHistory>100</maxHistory>
			<totalSizeCap>15GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %X{sourceThread} %X{akkaSource} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ASYNC_DEFAULT" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="DEFAULT" />
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %X{sourceThread} %X{akkaSource} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="SENTRY" class="io.sentry.logback.SentryAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
	</appender>

	<root level="${EB_LOGLEVEL:-DEBUG}">
		<appender-ref ref="${EB_LOGREF:-ASYNC_DEFAULT}" />
		<appender-ref ref="SENTRY" />
	</root>

	<logger name="org.apache.kafka" level="INFO" />
	<logger name="org.apache.zookeeper" level="INFO" />
	<logger name="com.datastax.driver.core.Connection" level="INFO" />

</configuration>