<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <shutdownHook/>

	<!-- appenders -->
	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${EB_LOGFILE:-./log/default}.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${EB_LOGFILE:-./log/default}.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %X{sourceThread} %X{akkaSource} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ASYNC_ROLLING" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="ROLLING" />
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %X{sourceThread} %X{akkaSource} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="SENTRY" class="io.sentry.logback.SentryAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
	</appender>

	<appender name="MISSED" class="ch.qos.logback.core.FileAppender">
		<file>${EB_MISSED_EVENTS_FILE:-./log/missed_events}</file>
		<append>true</append>
		<immediateFlush>true</immediateFlush>
		<encoder>
		  <pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ASYNC_MISSED" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="MISSED" />
		<queueSize>256</queueSize>
        <maxFlushTime>0</maxFlushTime>
		<discardingThreshold>0</discardingThreshold>
		<includeCallerData>false</includeCallerData>
		<neverBlock>true</neverBlock>
	</appender>


	<!-- loggers -->
	<root level="${EB_LOGLEVEL:-DEBUG}">
		<appender-ref ref="${EB_LOGREF:-CONSOLE}" />
		<appender-ref ref="SENTRY" />
	</root>

	<logger name="org.apache.kafka" level="INFO" />
	<logger name="org.apache.zookeeper" level="INFO" />
	<logger name="com.datastax.driver.core.Connection" level="INFO" />

	<logger name="com.thenetcircle.event_bus.misc.MissedEventHandler" additivity="false">
		<appender-ref ref="ASYNC_MISSED" />
	</logger>

</configuration>